{% extends 'base.html' %}
{% block title %}Подтвердите свой email{% endblock title %}

{% block content %}

    <div class="promotion-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Привет, {{ user.username }}!</h2>
                <p>Вам нужно подтвердить свой email. Зайдите на почту и пройдитесь по ссылке для активации
                    Вашего аккаунта</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}