{% extends 'base.html' %}
{% load static %}
{% block title %}Вход в систему{% endblock title %}

{% block content %}
    <div class="contact-section spad fix">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 contact-info col-push">
					<div class="section-title left">
						<h2>Правила входа</h2>
					</div>
					<p class="con-item">Введите в первое поле Ваш никнейм или почту, которую указывали при регистрации</p>
                    <p class="con-item">Во второе поле введите пароль, который указывали при регистрации</p>
				</div>
				<div class="col-md-6 col-pull">
					<form action="" class="form-class" method="post">{% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<input type="text" id="id_username" placeholder="Ваш никнейм или почта" required
                                       name="{{ form.username.name }}">
							</div>
                            <div class="col-sm-6">
								<input type="password" id="id_password" placeholder="Ваш пароль" required
                                       name="{{ form.password.name }}">
							</div>
							<div class="col-sm-12">
                                <input type="hidden" name="next" value="{{ next }}" />
								<button type="submit" value="OK" class="site-btn">Отправить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}